.search-input-button-div {
	display: flex;
	overflow: hidden;
	width: 100%;
	padding-right:10px;
}
.search-input-button-div md-input {
	flex: 2
}
.search-input-button-div md-input, button {
	margin: 5px
}
md-list-item:hover {
	background-color: #BBD8DC !important;
}
.selected {
	background-color: #CFD8DC !important;
	color: white;
}
/*
.searchresult {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 60em;
}
.searchresult li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #607D8B;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}
.searchresult li.selected:hover {
	background-color: #BBD8DC !important;
	color: white;
}
.searchresult li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}
.searchresult .text {
	position: relative;
	top: -3px;
}
.searchresult .name {
	display: inline-block;
	font-family: monospace;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 4em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}
.searchresult .path {
	display: inline-block;
	color: white;
	font-family: monospace;
	height: 4.0em;
}
*/
