[submodule "third-party/Simple-Web-Server"]
	path = third-party/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "third-party/actor-framework"]
	path = third-party/actor-framework
	url = https://github.com/actor-framework/actor-framework.git
[submodule "third-party/soci"]
	path = third-party/soci
	url = https://github.com/SOCI/soci.git
[submodule "third-party/material2"]
	path = third-party/material2
	url = https://github.com/angular/material2.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
