# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swp
*.swp

# build dir
build/

# OSX garbage
.DS_Store

# ignore node.js stuff
webroot/node_modules/

modules/portal/doc/
scripts/*.json
