/* You can add global styles to this file, and also import other style files */
@import '~@angular2-material/core/theming/prebuilt/indigo-pink.css';

.dark-primary-color    { background: #3b4976; }
.default-primary-color { background: #4260A6; }
.light-primary-color   { background: #98BEE5; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #C4C0E1; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
