<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-toolbar color="primary">
      <span>CAPPUCINO-FILER</span>
      <span style="flex: 1 1 auto;"></span>
      <button md-button md-mini-fab class="md-icon-button" aria-label="Settings">
          <span>
              <md-icon>settings</md-icon>
          </span>
      </button>
    </md-toolbar>
</section>

<article [class.dark-theme]="isDarkTheme" layout="row">
    <md-tab-group>
        <md-tab>
            <template md-tab-label>VOLUME TRACKER</template>
            <template md-tab-content>
                <app-volume-list>
                    Loading app-volume-list..
                </app-volume-list>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>FILE SEARCH</template>
            <template md-tab-content>
                <app-name-search>
                    Loading app-name-search..
                </app-name-search>
            </template>
        </md-tab>
    </md-tab-group>
</article>
