.search-input-button-div {
	display: flex;
	overflow: hidden;
	width: 100%;
	padding-right:10px;
}
.search-input-button-div md-input {
	flex: 2
}
.search-input-button-div md-input, button {
	margin: 5px
}
md-list-item:hover {
	background-color: #BBD8DC !important;
}
.selected {
	background-color: #CFD8DC !important;
	color: white;
}
